<a href="https://colab.research.google.com/github/vvanarasi/BITS/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def factorial(n):
  if n == 0:
    return 1
  elif n == 1:
    return 1
  else:
    return n * factorial(n-1)

print(factorial(4))

24

In [ ]:
list1=[1,2,3,4]
list2=[3,4,5,6]
for i in list1:
  if i in list2:
    print(i)

3
4

In [ ]:
list1 = [1,2,2,3,3,3,4]
dict1 = {}
for i in list1:
  if i in dict1:
    dict1[i] += 1
  else:
    dict1[i] = 1
print(dict1)

{1: 1, 2: 2, 3: 3, 4: 1}

In [ ]:
list1 = [1,2,2,3,4,3,3,4,7,8,4]
set1 = set(list1)
print(set1)

{1, 2, 3, 4, 7, 8}

In [ ]:
def factorial(n):
  if n == 0:
    return 1
  elif n == 1:
    return 1
  else:
    return n * factorial(n-1)

def binomialcoeff(n,r):
  return factorial(n)/(factorial(r) * factorial(n-r))

print(binomialcoeff(6,3))

20.0

In [ ]:
string1  = "hello"
print(string1[::-1])

olleh

In [ ]:
def checkleapyear(year):
  if year % 4 == 0:
    if year % 100 == 0:
      if year % 400 == 0:
        return True
      else:
        return False
    else:
      return True
  else:
    return False

print(checkleapyear(2020))

True

In [ ]:
string1 = "This is awesome"
vowels = ['a','e','i','o','u']
for i in string1:
  if i in vowels:
    print(i)

i
i
a
e
o
e

In [ ]:
list1 = [1,2,3,4,5,100]
tuple1 = (max(list1),min(list1))
print(tuple1)

(100, 1)

In [ ]:
def sumevennos(list1):
  sum = 0
  for i in list1:
    if i%2 == 0:
      sum+=i;
  return sum

print(sumevennos([1,2,3,4,5,6]))

12

In [ ]:
def secondlargest(list1):
  list1.sort()
  list2 = list(set(list1))
  if len(list2) < 2:
    return "None"
  else:
    return (list2[-2])

secondlargest([5,5,5])

'None'

In [ ]:
string1 = "This is      assignment number 1"
print(string1.replace(" ",""))

Thisisassignmentnumber1

In [6]:
string1 = "The quick brown fox is cunning"
list1 = string1.split(" ")
list2=[]
for i in list1:
  list2.append(len(i))
print(max(list2))

7

In [11]:
def multiplicationtable(n):
  for i in range(1,11):
    stringconcat = "{} x {} = {}".format(n,i,n*i)
    print(stringconcat)

multiplicationtable(3)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [26]:
def isprime(n):
  if n == 1:
    return False
  elif n == 2:
    return True
  for i in range(2,n):
    if n%i == 0:
      return False
    else:
      return True

def printprime(x,y):
  for i in range(x,y+1):
    if isprime(i):
      print(i)

printprime(1,19)

2
3
5
7
9
11
13
15
17
19

In [23]:
for i in range(2,5):
  print(i)

2
3
4